@import "variable&Mixin";

/* Responsiv Mobile First */
body{
    @include flexBetweenCenter;
    flex-direction: column;
    height: 100vh;
    background-color: $tertaire;
    margin: 0;
    h1{
        color: $fire;
    }
    h2{
        color: $sand;
    }
    li{
        color: $sand;
    }
    
}

header{
    @include flexAroundCenter;
    flex-direction: column;
    width: 100%;
    height: 15%;
    background-color: $primaire;
    h1{
        @include flexAroundCenter;
        width: 100%;
    }
    nav{
        @include flexAroundCenter;
        width: 100%;
        height: 20%;
        ul{
            @include flexAroundCenter;
            flex-direction: row;
            width: 100%;
        }
    }
}

section{
    @include flexAroundCenter;
    width: 100%;
    height: 60%;
    background-color: $secondaire;
}
footer{
    @include flexAroundCenter;
    flex-direction: row;
    width: 100%;
    height: 15%;
    background-color: $primaire;
    ul{
        @include flexAroundCenter;
        flex-direction: row;
        width: 100%;
        height: 30%;
    }
}