@import "variable&Mixin";

/* Responsiv Mobile First */
body{
    background-color: $tertiaire;
    margin: 0;
    padding: 0;
    h1{
        font-family: 'trashHand', Impact, 'Arial Narrow Bold', sans-serif;
        color: $fire;
        margin: 0;
    }
    h2{
        color: $sand;
        margin: 0;
    }
    li{
        color: $sand;
        margin: 0;
    }
    
}

header{
    @include flexAroundCenter;
    flex-direction: column;
    width: 100%;
    height: 10%;
    background-color: $primaire;
    h1{
        @include flexAroundCenter;
        width: 80%;
        height: 30%;
    }
    nav{
        // border: 1px solid red;
        @include flexAroundCenter;
        width: 90%;
        height: 40%;
        ul{
            // border: 1px solid red;
            @include flexAroundCenter;
            flex-direction: row;
            width: 90%;
            height: 90%;
            .option{
                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}

.core{
    @include flexAroundCenter;
    flex-direction: column;
    width: 100%;
    height: 78%;
    background-color: $secondaire;
    color: $sand;
    &__intro{
        @include flexAroundCenter;
        border: 2px solid $primaire;
        border-radius: 12px;
        width: 90%;
        height: 10%;
        p{
            font-size: 20px;
        }
    }
    .settings{
        @include flexAroundCenter;
        flex-direction: column;
        height: 80%;
        width: 90%;
        &__step{
            @include flexAroundCenter;
            flex-direction: column;
            border: 1px solid $primaire;
            border-radius: 12px;
            width: 90%;
            height: 18%;
            font-size: 25px;
            &__choice{
                @include flexAroundCenter;
                flex-direction: row;
                width: 90%;
                height: 40%;
                div{
                    @include flexAroundCenter;
                    height: 100%;
                    width: 35%;
                    border: 1px solid $sand;
                    border-radius: 5px;
                    a{
                        text-decoration: none;
                        color: white;
                    }
                }
            }
        }
    }
}
footer{
    @include flexAroundCenter;
    flex-direction: row;
    width: 100%;
    height: 10%;
    background-color: $primaire;
    i{
        font-size: 35px;
        color: $fire;
    }
}