
/* Variables */

// $primaire: #014040;
// $secondaire: #02735E;
// $tertaire: #03A678;
// $fire: #591202;
// $sand: #F28C0F;

$primaire: #202426;
$secondaire: #6C733D;
$tertaire: #9DA65D;
$fire: #8C8C88;
$sand: #F28C0F;

/* Mixins */
@mixin flexAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}