
/* Variables */

$primaire: #014040;
$secondaire: #02735E;
$tertaire: #03A678;
$fire: #591202;
$sand: #F28C0F;

/* Mixins */
@mixin flexAroundCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexBetweenCenter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}