@charset "UTF-8";
/* Variables */
/* Mixins */
/* Fonts */
@font-face {
  font-family: 'reey';
  src: url("fonts/Reey-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blackjack';
  src: url("fonts/blackjack.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trashHand';
  src: url("fonts/TrashHand.ttf");
  font-weight: normal;
  font-style: normal;
}

/* Responsiv Mobile First */
body {
  background-color: white;
  margin: 0;
  padding: 0;
}

body h1 {
  font-family: 'trashHand', Impact, 'Arial Narrow Bold', sans-serif;
  color: #FA6135;
  margin: 0;
}

body h2 {
  color: #F8AF2C;
  margin: 0;
}

body li {
  color: #F8AF2C;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 7vh;
  width: 100%;
  background-color: #0D2E41;
}

header #appHeader {
  color: white;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 30%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 90%;
}

header nav ul .option a {
  text-decoration: none;
  color: white;
}

.core {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80vh;
  background-color: #00798A;
  color: #F8AF2C;
}

.core__intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #0D2E41;
  border-radius: 12px;
  width: 90%;
  height: 10%;
}

.core__intro p {
  font-size: 20px;
}

.core .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 90%;
}

.core .settings__step {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #0D2E41;
  border-radius: 12px;
  width: 90%;
  height: 18%;
  font-size: 25px;
}

.core .settings__step__choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 90%;
  height: 40%;
}

.core .settings__step__choice div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 35%;
  border: 1px solid #F8AF2C;
  border-radius: 5px;
}

.core .settings__step__choice div a {
  text-decoration: none;
  color: white;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  height: 13vh;
  color: white;
  background-color: #0D2E41;
}

footer i {
  font-size: 35px;
  color: #FA6135;
}

/* Responsive Tablet */
/* Responsive Desktop */
/* Animation d'arrivée sur la page */
/* Loading Animation */
/* Variables */
/* Mixins */
/* Fonts */
@font-face {
  font-family: 'reey';
  src: url("fonts/Reey-Regular.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'blackjack';
  src: url("fonts/blackjack.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'trashHand';
  src: url("fonts/TrashHand.ttf");
  font-weight: normal;
  font-style: normal;
}
/*# sourceMappingURL=styles.css.map */